:root {
    --primary-color: #f5cd06;
    --black-color: #0f0f0f;
}
@import "inc/header";
@import "inc/home";
@import 'inc/about';
@import 'inc/contact';
@import 'inc/login';
@import 'inc/register';
@import 'inc/privacy-policy';
.events-page{
    .page-header {
        background: rgba(0, 0, 0, 0.8) url("/public/images/bg/contact-bg.jpg");
        background-size: cover;
        background-position: center;
        background-blend-mode: color;
    }
}
