@tailwind base;
@tailwind components;
@tailwind utilities;
.form-item .react-datepicker-popper{
    z-index: 9;
}
.form-item .react-datepicker-wrapper{
    @apply w-full
}
@media screen and (max-width:767px) {
    .custom-ckeditor .tox-tinymce{
        height: 400px !important;
    }
}
@media  screen and (max-width:1023px) {
    .popup_form{
        position: relative;
        top: 50px;
        overflow-x: hidden;
    }
    .popup_form .add-modal .cursor-pointer {
        right: -24px;
        top: -16px;
        color: #0f0f0f ;
        background: #f5cd06;
    }
    .popup_form .delete-modal .cursor-pointer {
        right: 0;
        top: 0;
        color: #0f0f0f ;
        background: #f5cd06;
    }
    .page-content{
        width: 95%;
        margin: 0 auto;
    }
}
