.about-page {
    .page-header {
        background: rgba(0, 0, 0, 0.8) url("/public/images/optimize_image/about-bg.webp");
        background-size: cover;
        background-position: center;
        background-blend-mode: color;

    }
}
