.contact-page {
    .page-header {
        background: rgba(0, 0, 0, 0.8) url("/public/images/optimize_image/contact-bg.webp");
        background-size: cover;
        background-position: center;
        background-blend-mode: color;
    }
    .location-slider {
        .slick-arrow {
            @media screen and (max-width: 767px) {
                display: none !important;
            }

            &:before {
                font-family: "FontAwesome";
                width: 40px;
                height: 40px;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            &.slick-prev {
                left: -50px;
                z-index: 99;

                &::before {
                    content: "\f053";
                    background-color: rgba($color: #404040, $alpha: 0.8);
                }
            }

            &.slick-next {
                right: -50px;
                direction: rtl;

                &::before {
                    content: "\f054";
                    background-color: rgba($color: #404040, $alpha: 0.8);
                }
            }
        }
    }
}
