.register-page {
    .right-section {
        background: rgba(0, 0, 0, 0.7) url("/images/optimize_image/login.webp");
        background-size: cover;
        background-position: top center;
        background-blend-mode: color;
    }
}
